@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
 .custom-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  html {
    scroll-behavior: smooth;
  }
  